<a href="https://colab.research.google.com/github/devhyunjun/TIL/blob/master/tenureupdate_230515.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
# MySQL 에서 df 가져오는 코드 
import pymysql
import pandas as pd
import matplotlib as mpl
import matplotlib.font_manager as fm
pd.set_option('display.max_columns', None)

# 폰트 설정 
# font_name = fm.FontProperties(fname="/Library/Fonts/AppleGothic.ttf").get_name()
font_name = fm.FontProperties(fname='C:/Windows/Fonts/malgun.ttf' ).get_name()
mpl.rc('font', family=font_name)

# 데이터베이스에 연결 
# 데이터베이스에 연결 
cnx = pymysql.connect(user='mt-1', password='1111', host='ec2-15-152-249-56.ap-northeast-3.compute.amazonaws.com', database='zigbang_project')

query = 'SELECT * FROM zigbang_project.zb_data;'

df = pd.read_sql(query, cnx)

# Close the database connection
cnx.close()

c:\Users\USER_20211027\anaconda3\lib\site-packages\pandas\io\sql.py:761: UserWarning: pandas only support SQLAlchemy connectable(engine/connection) ordatabase string URI or sqlite3 DBAPI2 connectionother DBAPI2 objects are not tested, please consider using SQLAlchemy
  warnings.warn(

In [ ]:
df_tenure= pd.read_csv('tenure_type.csv', encoding='euc-kr')

In [ ]:
df_tenure

    시군구코드  tenure_monthly
0   11010           19923
1   11020           18352
2   11030           29136
3   11040           35116
4   11050           53785
..    ...             ...
72  31270           11358
73  31280            6283
74  31350            2712
75  31370            4056
76  31380            5033

[77 rows x 2 columns]

In [ ]:
df['household_monthlyrent']

0        7.919971e+09
1        7.919971e+09
2        7.919971e+09
3        7.919971e+09
4        7.919971e+09
             ...
34677    3.839420e+11
34678    3.839420e+11
34679    3.839420e+11
34680    3.839420e+11
34681    3.839420e+11
Name: household_monthlyrent, Length: 34682, dtype: float64

In [ ]:
df_LEFT_JOIN = pd.merge(df, df_tenure, left_on='시군구코드', right_on='시군구코드', how='left')
df_LEFT_JOIN.drop('household_monthlyrent', axis=1, inplace=True)

In [ ]:
df_LEFT_JOIN['household_monthlyrent']

KeyError: 'household_monthlyrent'

In [ ]:
df_tenure

    시군구코드  tenure_monthly
0   11010           19923
1   11020           18352
2   11030           29136
3   11040           35116
4   11050           53785
..    ...             ...
72  31270           11358
73  31280            6283
74  31350            2712
75  31370            4056
76  31380            5033

[77 rows x 2 columns]

In [ ]:
df_LEFT_JOIN['tenure_monthly']

0         9064
1         9064
2         9064
3         9064
4         9064
         ...
34677    40278
34678    40278
34679    40278
34680    40278
34681    40278
Name: tenure_monthly, Length: 34682, dtype: int64